name: Build and Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install dependencies
      run: npm install
      working-directory: ./web_showcase

    - name: Build
      run: npm run build
      working-directory: ./web_showcase

    - name: Archive production build
      uses: actions/upload-artifact@v3
      with:
        name: build-${{ matrix.os }}
        path: web_showcase/build
